{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block extra_head %}
    <script src="/static/js/login_page_js/login_page_js.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" novalidate>
            {% csrf_token %}
            <h2>Login</h2>
            {{form.as_p}}
            <input type="submit" value="Login" />
        </form>
            <button onclick="goToRegister()">Sign Up</button>
    </div>

{% endblock %}